<h1><%= @place.name %></h1>

 <ul>
   <% for posts in @place.posts %>
    <li>
      <a href="/posts/<%= post.id %><%= post.title %></a>
    </li>
   <% end %>
</ul>

<p>
  <a href="/posts/new">Input New Post</a>
</p>